body {
  background: url(../img/bg.png); }

.info > header > h3, .info > header > h1, #nav > ul > li > a, .item > h1,
.item > p {
  font-weight: bold; }

.info > header > h3, .info > header > h1, #nav > ul > li > a, .item > h1 {
  font-style: italic; }

#header {
  height: 295px;
  background: url(../img/header.png) no-repeat center; }

.info header {
  text-align: right; }

.info header h3 {
  color: #9ab926;
  font-size: 1.16em; }

.info header h1 {
  line-height: 20px;
  color: #373538; }

.info header h1 span {
  font-size: 0.7em;
  color: #767578; }

.info article p {
  color: #828282;
  font-weight: bold;
  line-height: 18px;
  padding: 32px 32px 0 35px; }

#nav {
  height: 40px;
  line-height: 40px;
  background: url(../img/nav_bg.png) repeat;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25); }
  #nav ul {
    display: block;
    width: 940px;
    margin: 0 auto; }
    #nav ul li {
      list-style: none;
      float: left; }
      #nav ul li a {
        font-size: 1.1em;
        color: #fff;
        text-decoration: none;
        text-shadow: 2px 0 1px rgba(0, 0, 0, 0.45);
        padding: 5px 50px;
        -webkit-border-radius: 5px;
                border-radius: 5px; }
      #nav ul li a:hover {
        color: #000;
        border: 1px solid #b0d526;
        padding: 5px 49px;
        background: url(../img/nav_hover_bg.png) repeat;
        text-shadow: none; }

#myCarousel {
  margin-top: 20px; }

.item img {
  float: left;
  margin-right: 60px; }

.item h1 {
  color: #9ebf22;
  font-size: 20px;
  text-shadow: none; }

.item p {
  color: #373538;
  font-size: 14px;
  margin-top: 30px;
  text-shadow: none; }

.left, .right {
  color: rgba(0, 0, 0, 0.4);
  font-size: 4em;
  position: absolute;
  top: 35%;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25); }

.left:hover, .right:hover {
  color: #444; }

.left {
  left: -90px; }

.right {
  right: -90px; }

#content {
  margin-top: 40px;
  background-color: #fffbf4;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px rgba(213, 202, 143, 0.75);
          box-shadow: 1px 1px 3px rgba(213, 202, 143, 0.75); }

#info {
  background-color: #fff8df; }

#menu h4, #info h4, #last_object h4 {
  color: #b4cc61;
  margin-top: 35px; }
